<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxoI48icojMbsEWBmJcdP00x47NBzk6eg</string>
	<key>GCM_SENDER_ID</key>
	<string>968226273179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatie-e3450</string>
	<key>STORAGE_BUCKET</key>
	<string>chatie-e3450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968226273179:ios:24c47b73e379fa5a02133e</string>
</dict>
</plist>